nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;
  padding: 20px;

  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav--title {
  cursor: pointer;

  font-size: 1.8rem;
}

.nav--items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav--items li {
  cursor: pointer;

  font-weight: 500;
  margin: 0 10px;
}
