footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  padding: 20px;

  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);
}

.footer--title {
  font-size: 0.8rem;
}

.footer--items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer--items li img {
  width: 48px;
  margin: 0 10px;
}
